#ignore installed packages
/node_modules

#ignore environment variables
config.yml
.session_secret

#ignore temporary files
/tmp
#ignore locally installed gems
/vendor/bundle
/.bundle

#ignore test/demo artifacts
/tmp
/package-lock.json
